<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <span class="navbar-brand">Powered by <a href="https://www.currentaffairs.org/" target="blank">Current
         Affairs</a></span>
</nav>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
   <div class="container">
      <h1>MongoDB Scraper</h1>
      <button class="btn btn-secondary" id="scrape-articles-btn">Scrape recent articles</button>
   </div>
</div>

<!-- Add comment modal -->
<div class="modal" id="post-comment-modal">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Post a Comment</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>

         <!-- Modal body -->
         <div class="modal-body">
            <div class="form-group">
               <label>Title</label>
               <input type="text" class="form-control" id="comment-title" />
            </div>
            <div class="form-group">
               <label>Message</label>
               <textarea type="textfield" rows="6" class="form-control" id="comment-body"></textarea>
            </div>
         </div>

         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit-comment" data-dismiss="modal"
               data-articleId="">Post Comment</button>
         </div>

      </div>
   </div>
</div>

<!-- View comments modal -->
<div class="modal" id="view-comments-modal">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header">
            <h5 class="modal-title" id="comments-modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal">×</button>
         </div>

         <!-- Modal body -->
         <div class="modal-body" id="modal-comments-body">
            <!-- append comments here -->
         </div>

         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>

      </div>
   </div>
</div>

<!-- Main container -->
<div class="container" id="content">
   <!-- append articles here -->
</div>